html {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 1em;
}

td {
    padding: 1em;
    vertical-align: top;
}